.examination {
  &__new {
    padding-bottom: 58px;

    .attention {
      background-color: fade(@lightGreen, 20%);
      color: @grey;
      font-weight: 400;
      font-size: 15px;
      line-height: 2.6;
      padding: 16px 0;

      p {
        margin: 0;
        position: relative;
        padding-left: 29px;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          width: 16px;
          height: 15px;
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.22021 1.5L10.1365 5.69707L14.7202 6.22249L11.3207 9.34192L12.2375 13.8638L8.22021 11.5946L4.20296 13.8638L5.1197 9.34192L1.72021 6.22249L6.30397 5.69707L8.22021 1.5Z' stroke='%2385BC20' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
      }
    }

    .new-card {
      margin-top: 11px;

      &__footer {
        .row-align-center-mixin();
        padding: 49px 0;

        .btn {
          font-size: 15px;
          font-weight: 400;
          padding: 7px 19px;

          svg {
            stroke: @white;
            width: 24px;
            height: 24px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;
          }

          &.save {
            margin-right: 5px;
          }

          &.make-templ {
            border-width: 2px;
            margin-right: 5px;

            svg {
              stroke: @green;
            }
          }

          &.preview {
            margin-left: auto;
          }
        }
      }
    }

    .card {
      .content {
      }
    }

    .main-content {
      border-top: 2px solid @green;

      & > .tabs {
        .row-align-center-mixin();
        padding: 27px 0 30px;

        .item {
          .row-align-center-mixin();
          width: 50%;
          border: 1px solid @green;
          padding: 14px 29px;
          padding-right: 15px;

          &:first-child {
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            border-right: none;
          }

          &:last-child {
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
          }

          &.active {
            background-color: @lightGreen;
          }

          .name {
            font-size: 20px;
            text-transform: uppercase;
            font-family: @cuprum;
            font-weight: 700;
            margin-right: 15px;
          }

          .btns {
            margin-left: auto;

            .btn {
              border: 1px solid @green;
              font-size: 13px;
              line-height: 1.8;
              padding: 7px 13px 7px 15px;
              background-color: @white;

              svg {
                display: inline-block;
                vertical-align: middle;
                width: 24px;
                height: 24px;
                stroke: @grey;
                margin-left: 8px;
              }

              &.rotate {
                svg {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
      }

      & > .content {
        & > .item {
          display: none;

          &.active {
            display: block;
          }
        }

        .inner-tabs {
          display: flex;

          .item {
            border: 1px solid @green;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            font-size: 20px;
            line-height: 2.2;
            font-family: @cuprum;
            width: 100%;
            max-width: 170px;
            padding: 8px 0;
            text-align: center;
            cursor: pointer;

            &.active {
              background-color: @lightGreen;
            }
          }
        }

        .inner-content {
          & > .item {
            display: none;
            background-color: @lightlightGreen;
            border: 1px solid @green;
            padding: 40px 50px 19px;

            &.active {
              display: block;
            }

            .block {
              &:not(:last-of-type) {
                margin-bottom: 20px;
              }

              &:last-of-type {
                .card {
                  border: none;
                }
              }
              .head {
                .row-align-center-mixin();
                padding-bottom: 18px;
                position: relative;

                &:after {
                  content: '';
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 100%;
                  height: 1px;
                  background-image: url('../img/dashed.png');
                }

                .name {
                  font-size: 25px;
                  font-family: @cuprum;
                  margin-right: auto;
                }

                .icons {
                  margin-left: 20px;
                  .row-align-center-mixin();

                  a {
                    .row-align-center-mixin();
                    .row-justify-center-mixin();
                    width: 40px;
                    height: 40px;
                    border: 2px solid @green;
                    border-radius: 100px;
                    background-color: @white;
                    position: relative;

                    &:hover {
                      .popup {
                        visibility: visible;
                        opacity: 1;
                      }
                    }

                    .popup {
                      position: absolute;
                      right: -20px;
                      bottom: 45px;
                      background-color: @white;
                      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
                      width: 360px;
                      padding: 40px;
                      visibility: hidden;
                      opacity: 0;
                      transition: 0.3s;

                      &:after {
                        content: '';
                        position: absolute;
                        right: 16px;
                        bottom: -40px;
                        border: 20px solid transparent;
                        border-top: 20px solid @white;
                      }

                      .name {
                        font-size: 16px;
                        font-weight: 700;
                        width: 100%;
                        margin: 0;
                      }

                      p {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 2;
                      }
                    }

                    &:not(:last-of-type) {
                      margin-right: 5px;
                    }

                    svg {
                      width: 24px;
                      height: 24px;
                      stroke: @green;
                      fill: none;
                    }
                  }
                }

                .checkbox {
                  position: relative;
                  margin-left: 23px;

                  input {
                    position: absolute;
                    width: 0;
                    opacity: 0;
                    visibility: hidden;

                    &:checked + span {
                      &:after {
                        opacity: 1;
                      }
                    }
                  }

                  span {
                    position: relative;
                    color: @grey;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 1.76;
                    padding-right: 35px;
                    cursor: pointer;

                    &:before {
                      content: '';
                      position: absolute;
                      right: 0;
                      top: -4px;
                      width: 24px;
                      height: 24px;
                      border: 1px solid @mdGrey;
                      border-radius: 6px;
                      background-color: @white;
                    }

                    &:after {
                      content: '';
                      position: absolute;
                      transition: 0.3s;
                      opacity: 0;
                      right: 7px;
                      top: 4px;
                      width: 11px;
                      height: 9px;
                      background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00019 8.99994C4.86858 9.0007 4.73812 8.97548 4.61628 8.92571C4.49444 8.87595 4.38363 8.80262 4.29019 8.70994L1.29019 5.70994C1.19695 5.6167 1.12299 5.50601 1.07253 5.38419C1.02207 5.26237 0.996094 5.1318 0.996094 4.99994C0.996094 4.73364 1.10188 4.47825 1.29019 4.28994C1.47849 4.10164 1.73388 3.99585 2.00019 3.99585C2.26649 3.99585 2.52188 4.10164 2.71019 4.28994L5.00019 6.58994L10.2902 1.28994C10.4785 1.10164 10.7339 0.99585 11.0002 0.99585C11.2665 0.99585 11.5219 1.10164 11.7102 1.28994C11.8985 1.47825 12.0043 1.73364 12.0043 1.99994C12.0043 2.26624 11.8985 2.52164 11.7102 2.70994L5.71019 8.70994C5.61675 8.80262 5.50593 8.87595 5.38409 8.92571C5.26225 8.97548 5.13179 9.0007 5.00019 8.99994Z' fill='%2385BC20'/%3E%3C/svg%3E%0A");
                    }
                  }
                }
              }

              .card {
                padding: 25px 0 15px;
                border-bottom: 1px dashed @grey;

                .content {
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }

    .result {
      padding: 44px 0;

      .title {
        font-family: @cuprum;
        font-weight: 400;
        font-size: 30px;
        line-height: 1.5;
        color: @grey;
        margin-bottom: 11px;
        margin: 0;
      }

      .list {
        div {
          border-top: 1px solid #e0e0e0;
          font-weight: 400;
          font-size: 17px;
          line-height: 1.76;
          padding: 8px 0 10px;
          padding-left: 35px;
          position: relative;

          svg {
            position: absolute;
            top: 11px;
            left: 0;
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 11px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .examination {
    &__new {
      .main-content {
        & > .tabs {
          .item {
            padding: 14px 15px;

            &:first-child {
              border-top-left-radius: 60px;
              border-bottom-left-radius: 60px;
            }

            &:last-child {
              border-top-right-radius: 60px;
              border-bottom-right-radius: 60px;
            }

            .name {
              font-size: 15px;
            }

            .btns {
              .btn {
                padding: 7px 10px;

                svg {
                  width: 15px;
                  height: 15px;
                }
              }
            }
          }
        }

        & > .content {
          .inner-tabs {
            .item {
              font-size: 15px;
              line-height: 1.8;
              max-width: 120px;
            }
          }

          .inner-content {
            & > .item {
              padding: 30px;
              padding-bottom: 19px;

              .block {
                .head {
                  .name {
                    font-size: 20px;
                  }

                  .icons {
                    a {
                      .popup {
                        padding: 30px;

                        .name {
                          font-size: 15px;
                        }

                        p {
                          font-size: 12px;
                        }
                      }
                    }
                  }

                  .checkbox {
                    span {
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .result {
        .list {
          div {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .examination {
    &__new {
      .attention {
        font-size: 12px;

        p {
          &:before {
            top: -2px;
          }
        }
      }

      .main-content {
        & > .tabs {
          .item {
            flex-wrap: wrap;

            &:first-child {
              border-top-left-radius: 16px;
              border-bottom-left-radius: 16px;
            }

            &:last-child {
              border-top-right-radius: 16px;
              border-bottom-right-radius: 16px;
            }

            .name {
              width: 100%;
              margin-bottom: 10px;
            }
          }
        }

        & > .content {
          .inner-tabs {
            .item {
              line-height: 1.5;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              width: auto;
              max-width: none;
              padding: 8px;
            }
          }

          .inner-content {
            & > .item {
              padding: 15px;
              padding-bottom: 19px;

              .block {
                .head {
                  flex-wrap: wrap;

                  .name {
                    width: 50%;
                  }

                  .icons {
                    .row-justify-end-mixin();
                    width: 50%;
                    margin-left: 0;
                    margin-bottom: 10px;

                    a {
                      .popup {
                        display: none;
                      }
                    }
                  }

                  .checkbox {
                    margin-left: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .examination {
    &__new {
      .new-card {
        &__footer {
          .column-align-start-mixin();

          .btn {
            margin-left: 0;
            margin-bottom: 10px;

            &.preview {
              margin-left: 0;
            }
          }
        }
      }
      .main-content {
        & > .tabs {
          .item {
            flex-wrap: wrap;

            .btns {
              .column-align-start-mixin();
              margin-left: 0;

              .btn {
                &:not(:last-of-type) {
                  margin-bottom: 5px;
                }
              }
            }
          }
        }

        & > .content {
          .inner-content {
            & > .item {
              .block {
                .head {
                  .name {
                    width: 100%;
                    margin-bottom: 10px;
                  }

                  .icons {
                    .row-justify-start-mixin();
                    width: 100%;
                    margin-bottom: 10px;

                    a {
                      width: 31px;
                      height: 31px;
                      border-width: 1px;

                      svg {
                        width: 15px;
                        height: 15px;
                      }
                    }
                  }

                  .checkbox {
                    margin-left: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .examination {
    &__new {
      .main-content {
        & > .tabs {
          .item {
            flex-wrap: wrap;
            padding: 12px 10px;

            .btns {
              .row-align-center-mixin();
              margin-left: auto;

              .btn {
                font-size: 0;
                padding: 7px;

                &:not(:last-of-type) {
                  margin-bottom: 0;
                  margin-right: 5px;
                }

                svg {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
