.examination {
  &__list {
    padding: 21px 0 58px;

    .item {
      border-bottom: 1px dashed #bdbdbd;
      padding: 14px 0;

      &__head {
        .flex-align-center-mixin();

        .info {
          .flex-align-center-mixin();
          margin-left: auto;
          padding-left: 15px;
        }

        .name {
          font-size: 20px;
          width: 30%;
          padding-right: 15px;
          cursor: pointer;
        }

        .id {
          font-size: 20px;
        }

        .days {
          font-size: 14px;
          display: inline-block;
          vertical-align: middle;
          line-height: 1;

          span {
            font-size: 20px;
            display: inline-block;
            vertical-align: middle;

            &.orange {
              color: @orange;
              font-weight: 700;
            }
          }
        }

        .icon {
          .flex-align-center-mixin();
          .flex-justify-center-mixin();
          width: 38px;
          height: 38px;
          border: 2px solid #bdbdbd;
          border-radius: 1000px;
          margin-left: 23px;
          position: relative;

          &:hover {
            .popup {
              visibility: visible;
              opacity: 1;
            }
          }

          .popup {
            position: absolute;
            right: -20px;
            bottom: 45px;
            background-color: @white;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            width: 700px;
            padding: 40px;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s;

            &:after {
              content: '';
              position: absolute;
              right: 16px;
              bottom: -40px;
              border: 20px solid transparent;
              border-top: 20px solid @white;
            }

            .name {
              font-size: 16px;
              font-weight: 700;
              width: 100%;
              margin: 0;
            }

            p {
              font-size: 15px;
              font-weight: 400;
              line-height: 2;
            }
          }

          &.orange {
            border-color: @orange;
          }

          svg {
            width: 24px;
            height: 24px;
          }
        }

        .btns {
          .flex-align-center-mixin();
        }

        .edit {
          .flex-align-center-mixin();
          .flex-justify-center-mixin();
          margin-left: 6px;
          width: 38px;
          height: 38px;
          border-radius: 1000px;
          border: 2px solid @green;

          svg {
            width: 24px;
            height: 24px;
            fill: @green;
          }
        }

        .link {
          .flex-align-center-mixin();
          font-size: 13px;
          border: 2px solid @green;
          border-radius: 1000px;
          font-weight: 500;
          padding: 6px 13px;
          margin-left: 6px;

          svg {
            width: 24px;
            height: 24px;
            margin-left: 13px;
          }
        }
      }

      &__content {
        display: none;
        padding: 28px 0 23px;

        .row {
          .flex-align-center-mixin();

          &:nth-of-type(odd) {
            background-color: @lightGrey;
          }
        }

        .key {
          font-size: 15px;
          width: 30%;
          padding: 11px;
          padding-right: 15px;
        }

        .value {
          font-size: 15px;
          padding: 11px;
          padding-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .examination {
    &__list {
      .item {
        &__head {
          .name {
            font-size: 15px;
          }

          .id {
            font-size: 15px;
          }

          .days {
            font-size: 12px;

            span {
              font-size: 15px;
            }
          }

          .icon {
            .popup {
              padding: 30px;

              .name {
                font-size: 15px;
              }

              p {
                font-size: 12px;
              }
            }
          }

          .link {
            font-size: 12px;
          }
        }

        &__content {
          .key {
            font-size: 12px;
          }

          .value {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .examination {
    &__list {
      .item {
        &__head {
          .name {
            width: 25%;
          }

          .icon {
            .popup {
              width: 400px;
            }
          }
        }

        &__content {
          .key {
            width: 25%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .examination {
    &__list {
      .item {
        &__head {
          .flex-align-start-mixin();
          flex-wrap: wrap;

          .info {
            .flex-justify-end-mixin();
            flex-wrap: wrap;
            width: 50%;
          }

          .name {
            margin-top: 12px;
          }

          .id {
            margin-top: 12px;
          }

          .btns {
            .flex-justify-end-mixin();
            width: 100%;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .examination {
    &__list {
      .item {
        &__head {
          .info {
            width: 100%;
            margin-top: 10px;
            padding-left: 0;
          }

          .name {
            width: 50%;
          }

          .id {
            width: 50%;
            text-align: right;
          }

          .days {
            order: 2;
          }

          .icon {
            order: 3;
            margin-left: 10px;

            .popup {
              width: 300px;
              right: -10px;

              &:after {
                right: 6px;
              }
            }
          }

          .btns {
            margin-top: 0;
            width: auto;
            order: 1;
            margin-left: 0;
            margin-right: auto;
          }

          .edit {
            margin-left: 0;
          }
        }

        &__content {
          .key {
            min-width: 140px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .examination {
    &__list {
      .item {
        &__head {
          .days {
            order: 1;
          }

          .icon {
            order: 2;
          }

          .btns {
            width: 100%;
            order: 3;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
