.filter-sort {
  .flex-align-center-mixin();
  padding: 38px 0 24px;
  border-bottom: 1px solid @grey;

  .filter {
    .flex-align-center-mixin();

    &__item {
      background-color: @white;
      border: 1px solid @green;

      &.all {
        border-bottom-left-radius: 100px;
        border-top-left-radius: 100px;
        border-right: none;
      }

      &.no-date {
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
        border-left: none;
      }

      &.inputs {
        .flex-align-center-mixin();
        padding: 9px;
        padding-right: 19px;

        .col {
          position: relative;
        }

        .name {
          font-size: 15px;
          margin: 0 6px;
        }

        input {
          border: 1px solid @green;
          border-radius: 10px;
          height: 30px;
          padding: 10px;
          padding-right: 40px;
          width: 100%;
          max-width: 173px;
          font-size: 15px;
        }

        .icon {
          position: absolute;
          right: 8px;
          top: 3px;
          width: 24px;
          height: 24px;
        }

        .btn {
          border-radius: 6px;
          margin-left: 11px;
          width: 38px;
          height: 30px;
        }
      }

      &.radio {
        position: relative;
        overflow: hidden;
        cursor: pointer;

        input {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          width: 0;

          &:checked + .text {
            background-color: @lightGreen;
          }
        }

        .text {
          font-size: 15px;
          padding: 15px 19px;
          display: block;
        }
      }
    }
  }

  .sort {
    .flex-align-center-mixin();
    margin-left: auto;

    &__item {
      position: relative;
      border: 1px solid @green;
      overflow: hidden;
      cursor: pointer;

      &:first-child {
        border-bottom-left-radius: 100px;
        border-top-left-radius: 100px;
      }

      &:last-child {
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
        border-left: none;
      }

      input {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        width: 0;

        &:checked + .text {
          background-color: @lightGreen;
        }
      }

      .text {
        font-size: 15px;
        background-color: @white;
        display: block;
        padding: 15px 23px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .filter-sort {
    .filter {
      &__item {
        &.inputs {
          padding-right: 15px;

          .name {
            font-size: 12px;
          }

          input {
            font-size: 12px;
            height: 26px;
            border-radius: 6px;
            max-width: 110px;
          }

          .icon {
            width: 20px;
            height: 20px;
          }

          .btn {
            height: 26px;
            line-height: 1;
            font-size: 12px;
          }
        }
        &.radio {
          .text {
            font-size: 12px;
            padding: 15px;
          }
        }
      }
    }

    .sort {
      &__item {
        .text {
          font-size: 12px;
          padding: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .filter-sort {
    .flex-column-align-start();
    flex-wrap: wrap;

    .filter {
      margin-bottom: 20px;
    }

    .sort {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .filter-sort {
    .filter {
    }
  }
}
