.page-title {
  .flex-align-center-mixin();
  padding: 32px 0;

  h1 {
    font-size: 30px;
    font-family: @cuprum;
    font-weight: 400;

    &.big {
      font-size: 45px;
    }
  }

  .date {
    margin-left: auto;
    font-weight: 400;
    font-size: 15px;
  }

  .calendar {
    .flex-align-center-mixin();
    margin-left: 33px;
    margin-right: 20px;

    p {
      font-size: 15px;
      margin: 0;
      margin-right: 12px;
    }

    label {
      position: relative;

      input {
        font-weight: 400;
        font-size: 13px;
        border-radius: 10px;
        border: 1px solid @green;
        width: 100%;
        height: 36px;
        max-width: 140px;
        padding: 10px;
        padding-right: 32px;
      }

      svg {
        position: absolute;
        right: 6px;
        top: 6px;
        width: 24px;
        height: 24px;
        stroke: @grey;
      }
    }
  }

  .add-card {
    .flex-align-center-mixin();
    margin-left: auto;
    padding: 4px 19px;
    font-size: 15px;
    line-height: 1.5;

    svg {
      width: 22px;
      height: 22px;
      fill: @white;
      margin-left: 13px;
    }
  }

  .add-patient,
  .add-template,
  .add-research {
    .flex-align-center-mixin();
    margin-left: 14px;
    padding: 4px 19px;
    font-size: 20px;
    line-height: 1.5;

    svg {
      width: 22px;
      height: 22px;
      fill: @white;
      margin-left: 13px;
    }
  }

  .list-card {
    .flex-align-center-mixin();
    margin-left: auto;
    padding: 7px 19px;
    font-size: 15px;
    line-height: 1.5;

    svg {
      width: 22px;
      height: 22px;
      stroke: @white;
      margin-left: 13px;
    }
  }

  .choose-templ {
    .flex-align-center-mixin();
    margin-left: 5px;
    padding: 7px 19px;
    font-size: 15px;
    line-height: 1.5;

    svg {
      width: 22px;
      height: 22px;
      stroke: @white;
      margin-left: 13px;
    }
  }

  .links {
    .flex-align-center-mixin();
    margin-left: auto;

    &__item {
      .flex-align-center-mixin();
      border: 2px solid @green;
      background-color: @white;
      border-radius: 1000px;
      font-size: 15px;
      padding: 6px 18px;
      margin-left: 5px;
      transition: 0.3s;

      &:hover {
        background-color: @lightGreen;
      }

      svg {
        width: 24px;
        height: 24px;
        margin-left: 10px;
      }

      &.active {
        background-color: @lightGreen;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .page-title {
    h1 {
      &.big {
        font-size: 30px;
      }
    }

    .add-patient,
    .add-template,
    .add-research {
      font-size: 15px;
      padding: 4px;
      padding-left: 13px;
    }

    .links {
      &__item {
        font-size: 12px;
        padding: 4px 10px;

        svg {
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .page-title {
    flex-wrap: wrap;

    .calendar {
      margin-left: 15px;
      margin-right: 10px;
    }

    .add-patient,
    .add-template,
    .add-research {
      margin-left: auto;
    }

    .list-card {
      padding: 7px 9px;
    }

    .choose-templ {
      padding: 7px 9px;

      svg {
        display: none;
      }
    }

    .links {
      width: 100%;
      margin-top: 20px;
      margin-left: 0;

      &__item {
        margin-left: 0;
        margin-right: 5px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .page-title {
    h1 {
      width: 100%;
      margin-bottom: 20px;
    }

    .calendar {
      margin-left: 0;
    }

    .add-card {
      margin-left: 0;
      font-size: 12px;
    }

    .add-patient,
    .add-template,
    .add-research {
      margin-left: 0;
    }

    .links {
      flex-wrap: wrap;

      &__item {
        margin-bottom: 5px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .page-title {
    .calendar {
      order: 3;
      margin-right: 0;
      width: 100%;
      margin-top: 20px;
    }

    .list-card {
      order: 1;
      margin-left: 0;
    }

    .choose-templ {
      order: 2;
      margin-right: auto;
    }
  }
}
